body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 300;
    line-height: 1.5;
}

.chevron::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    color: white;
    display: inline-block;
    height: 1.5em;
    left: 0.15em;
    top: 0.15em;
    left: 0;
    transform: rotate(45deg);
    vertical-align: top;
    width: 1.5em;
    opacity: .9;
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}

.grey-bg {
    background: #3B3B3B;
}

.gradient-bg {
    background: rgb(59, 59, 59);
    background: -moz-linear-gradient(top, rgba(59, 59, 59, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(59, 59, 59, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(59, 59, 59, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#ffffff', GradientType=0);
}

.grey-bg .text-wrapper, .gradient-bg .text-wrapper {
    color: white;
}

.section-wrapper {
    padding: 100px 10%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    display: flex;
}

.section-wrapper:nth-child(odd) .text-wrapper {
    order: 2;
}

.image-wrapper, .text-wrapper {
    width: 42%;
    padding: 3%;
}

.image-wrapper img {
    width: 100%;
}


/* Slider Styles  */

#slider-wrapper {
    padding: 0px;
    width: 100%;
    overflow: hidden;
    height: 560px;
    position: relative;
}

.arrow-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
}

#prev {
    left: 5%;
    position: absolute;
    cursor: pointer;
}

#next {
    right: 5%;
    position: absolute;
    cursor: pointer;
}

.inactive#next, .inactive#prev {
    cursor: default;
    opacity: .3;
}

.slider {
    width: 400%;
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    display: flex;
    font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
    transition: transform 0.3s ease 0s;
}

.slide {
    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
}

.slide-bg {
    margin: -20px -20px;
    height: 105%;
    width: 105%;
    background-image: url("https://i.vimeocdn.com/video/590587169_530x315.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px) saturate(.7) brightness(.4) contrast(.9);
    -webkit-filter: blur(10px) saturate(.6) brightness(.4) contrast(.9);
    -moz-filter: blur(10px) saturate(.7) brightness(.4) contrast(.9);
    -o-filter: blur(10px) saturate(.7) brightness(.4) contrast(.9);
    -ms-filter: blur(10px) saturate(.7) brightness(.4) contrast(.9);
}

#way-way-back .slide-bg {
    background-size: 175%;
    background-image: url("assets/the_way_way_back.jpg");
}

#imitation-game .slide-bg {
    opacity: .8;
    background-size: 175%;
    background-image: url("assets/the_imitation_game.jpg");
}

#her .slide-bg {
    background-image: url("assets/her.jpg");
}

#interstellar .slide-bg {
    background-image: url("assets/interstellar.jpg");
}

.content {
    position: absolute;
    z-index: 1;
    color: white;
    top: 0px;
    padding: 100px 15%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    display: flex;
}

.content-image, .content .div {
    margin: 5%;
}

.content-image {
    max-height: 320px;
    -webkit-box-shadow: 1px 1px 28px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 28px -6px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 28px -6px rgba(0, 0, 0, 1);
}

.content .button {
    display: inline-block;
    cursor: pointer;
    width: 35%;
    border-radius: 3px;
    margin: 10px 15px 10px 0px;
    padding: 12px 10px;
    background: #316E9B;
    border: 1px solid #316E9B;
    text-align: center;
    position: relative;
}

#way-way-back .button.buy {
    background: #199CD4;
    border: 1px solid #199CD4;
}

#imitation-game .button.buy {
    background: #594F51;
    border: 1px solid #594F51;
}

#her .button.buy {
    background: #CE113E;
    border: 1px solid #CE113E;
}

.content .button.buy span {
    margin-left: 25%;
}

.content .button.trailer {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.6)
}

.content .hexigon {
    width: 15%;
    max-height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px
}

@media only screen and (max-width: 1050px) {
    .image-wrapper {
        width: 60%;
        margin: 0 auto;
        padding: 20px 0px
    }
    .text-wrapper {
        width: 80%;
        padding: 0px;
        margin: 0 auto;
    }
    .section-wrapper, .content {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    #slider-wrapper {
        height: 650px;
    }
    .content {
        padding: 20px 10%;
    }
    .content-image {
        width: auto;
        max-height: 230px;
    }
    .section-wrapper:nth-child(odd) .image-wrapper {
        order: 2;
    }
}

@media only screen and (max-width: 470px) {
    .section-wrapper {
        padding: 100px 20px;
    }
    .image-wrapper {
        width: 100%;
    }
    .text-wrapper {
        width: 100%;
    }
    #slider-wrapper .content {
        padding: 20px 15%;
    }
    .content .button {
        width: 80%;
        display: block;
    }
}
