body {
  margin: 0;
}

.grey-bg {
    background: #3B3B3B;
}

.gradient-bg {
  background: rgb(59,59,59); /* Old browsers */
background: -moz-linear-gradient(top, rgba(59,59,59,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(59,59,59,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(59,59,59,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.grey-bg .text-wrapper, .gradient-bg .text-wrapper {
    color: white;
}

.section-wrapper {
    padding: 100px 10%;
}

.image-wrapper, .text-wrapper {
    width: 42%;
    padding: 3%;
    display: inline-block;
    vertical-align: middle;
}

.image-wrapper img {
    width: 100%;
}
